 <% if @message.errors.any? %>
   <div id="error_explanation">
     <ul>
     <% @message.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @message, url: write_message_create_path(id: @to_user_id) do |f|%>
Your message <%= f.text_area :body, size: "30x10" %><br>
<%= f.submit "Create" %>
<% end %>