 <% if @mem.errors.any? %>
   <div id="error_explanation">
     <ul>
     <% @mem.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>
<%= form_for @mem, url: mems_path(id: @mem.id), html: { multipart: true } do |f|%>
You can attach only mems <%= f.file_field :image %><br>
<%= f.submit "Create" %>
<% end %>